@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
  }

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #212121; 
}

.navbar{
    background-color: #fff;
    box-shadow: 0 5px 5px 0px rgba(0,0,0,.2);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: .1rem;
}

.navbar-brand i{
    height:2rem;
    padding-left:15px;
    
}
.navbar-nav li{
    padding-right: 14px;
}
.navbar-nav .nav-link{
    color:#212121;
    padding-top:14px;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover{
    color: #4e54c8;
}
.navbar-toggler-icon{
    width: 30px;
    height: 2px;
    background-color: #32333c;
    margin: 5px 0;
    display: block;
    position: relative;
}

.main-btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #e2dafd;
    padding: 0 40px;
    font-size: 15px;
    line-height: 48px;
    border-radius: 50px;
    color: #212121;
    cursor: pointer;
    z-index: 5;
    transition: all 0.3s ease-out 0s;
    box-shadow: 0px 5px 8px 0px rgba(83, 83, 85, 0.55);
    background-color: #f1f1f1;
    text-transform: uppercase; 
}
.main-btn:hover {
    background-color: #4e54c8;;
    color: #f1f1f1 !important;
    border-color:#ccc;
    text-decoration: none;
    }


/*Background image Animation*/
.home-inner{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    position:absolute;
    background-size: cover; 
    background-position: center center;
    clip: rect(0, auto, auto, 0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: 1;
    overflow: hidden;
 }   
 @media (max-width:768px){
     .landing{
         width:115%;
     }
     .custom-2{
        margin-left:100px !important;
     }
     iframe{
         margin-left:-70px;
         width:150%;
     }
     #about{
         width:115%;
     }
     #work{
         width:115%;
     }
     .card1{
         margin-left:-20px !important;
         width:105%;
     }
     .card2{
         margin-right: -20px;
         width:105%;
     }
 } 
    
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
    
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
        
    }
    
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    }
    
    
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
    }
    
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    }
    
    .circles li:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }
    
    .circles li:nth-child(5){
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
    }
    
    .circles li:nth-child(6){
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }
    
    .circles li:nth-child(7){
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }
    
    .circles li:nth-child(8){
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }
    
    .circles li:nth-child(9){
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
    }
    
    .circles li:nth-child(10){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    
    @keyframes animate {
    
        0%{
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }
    
        100%{
            transform: translateY(-1000px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
        }
    }



.header-content-right {
    width: 100%;
    position: absolute;
    top:40vh;
     }

.header-content-right .sub-title {
    font-size: 30px;
    color: #f1f1f1;
    text-transform: uppercase;
    padding-bottom: 15px;
 }

@media (max-width: 768px) {
    .header-content-right .sub-title {
        font-size: 24px; 
    } 
    }

    .header-content-right .title {
        /* font-size: 60px; */
        text-transform: uppercase;
        padding-bottom: 15px;
         }

@media (max-width: 768px) {
    .header-content-right .title {
        font-size: 38px;
     } 
    }
    .header-content-right p {
        padding-bottom: 40px;
     }
      
    #header-image {
        max-width: 120%;
        /* margin: 0 auto; */
        margin:0 auto;
        position: absolute;
        margin-top:2vh!important;
        /* margin-left:160px !important; */
        /* padding-bottom: 20px; */
        /* border-radius:50px; */
     }
    
    #header-image img {
        position: relative;
        z-index: 5; 
        height: 650px;
    }
    
    .image-text{
    position: relative;
    margin-left: 200px;
    top:-550px;
    left:-10px;
    opacity:0;
    background-color: #f4f4f4;
    color:#212121;
    width:50%;
    height:60px;
    padding-bottom:10px;
    padding-top:20px;
    padding-left:10px;
    z-index: 5;
    text-align: center;
    background-color: #4e54c8;
    color:#f1f1f1;
    font-weight: 400;
    border-radius: 25px;
    }

.carousel-item.active h5{
    opacity:1;
    transform:translateX(10px);
    transition:all 0.7s ease-in-out 0.1s;
}
    /*about-page*/
.section-title .title {
    font-weight: 600;
    font-size: 45px;
    color: #212121;
    padding-bottom: 15px;
    padding-top: 120px;
    }
        
 @media (max-width: 768px) {
    .section-title .title {
    font-size: 30px;
    }
 }

.about-content .about-title {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
    padding-top: 30px;
    
 }
 .about-content .clear{
    overflow-wrap: break-word;
    
 }
 
.about-content ul {
    padding-top: 15px;
 }
.about-content ul li {
      width: 50%;
      float: left;
      margin-top: 5px; 
    }


.academics i{
    font-size: 25px;
    color:#4e54c8;
}    
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .about-content ul li {
        width: 100%;
        float: none;
        } 
    }
@media (max-width: 768px) {
    .about-content ul li {
        width: 100%;
        float: none; 
        } 
    }
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .about-content ul li {
        width: 50%;
        float: left; 
        }
     }
    .about-content .single-info .info-icon i {
        font-size: 18px;
        color: #4e54c8;
        list-style-type: none;
    }
  .about-content .single-info .info-text {
    padding-left: 15px;
 }
    .about-content .single-info .info-text p span {
      color: #32333c; 
      list-style-type: none;
      /* margin-top:15px!important; */
      
    }
    ul.clearfix {
        list-style-type: none;
    }

    #academic{
        width:100%;
        padding-top:30px;
        /* padding-left:180px; */
        margin-right:0px !important;
        /* background-color: #eee;
       border:1px solid #4e54c8; */
        
    }



    /*SKILL-Section*/
    #skills{
        background-image: url(../images/image3.jpg) ;
        background-size:cover; 

    }
    #cv{
        background-image: url(../images/project-img.jpg) ;
        /* background-repeat: no-repeat; */
       
         background-size:cover; 
         padding:100px; 
    }
    @media (max-width:768px){
        #cv{
            background-image: none;
            
        width: 140%;
        margin-top: -100px;
        margin-left: -65px;
        }
        #contact{
            width:115%;
        }
        #contact-text{
            margin-left:70px!important;
        }
    }


    .title-skill{
        
        text-align: center;
        margin-top:50px;
        padding-top: 80px; 
        padding-bottom: 20px;
        color:#f1f1f1;
        font-weight: 600;
        font-size: 40px;
    }

    .mobskills{
        padding-top: 60px !important;
        padding-bottom: 50px !important;
        padding-left:30px;
        padding-right: 30px;
        margin-top:5%;
    }
    .skillbar {
        position:relative;
        display:block;
        margin-bottom:15px;
        width:100%;
        background:#eee;
        height:35px;
        border-radius:30px;
        transition:0.4s linear;
        transition-property:width, background-color;
        
    }
    
    .skillbar-title {
        position:absolute;
        top:0;
        left:0;
        width:110px;
        font-weight:bold;
        font-size:13px;
        color:#ffffff;
        background:#6adcfa;
        border-top-left-radius:30px;
        border-bottom-left-radius:30px;
    }
    
    .skillbar-title span {
        display:block;
        background:rgba(0, 0, 0, 0.1);
        padding:0 20px;
        height:35px;
        line-height:35px;
        border-top-left-radius:30px;
        border-bottom-left-radius:30px;
    }
    
    .skillbar-bar {
        height:35px;
        width:0px;
        background:#6adcfa;
        border-radius:30px;
        
    }
    
    .skill-bar-percent {
        position:absolute;
        right:10px;
        top:0;
        font-size:11px;
        height:35px;
        line-height:35px;
        color:#ffffff;
        color:rgba(0, 0, 0, 0.4);
    }
    @media (max-width: 768px){
        #skills{
            width: 115%;
            padding: 0px;
        }
        .mobskills{
            margin-left: 20px;
        }
        .title-skill{
            
            margin-left:0px;
        }
       .skill-bar-percent{
           margin-left: 10px;
       }
       .skillbar{
           margin-left: -8px;
        
       }
       
    }

    @media only screen and (min-width: 768px) and (max-width: 991px){
        .title-skill{
            
            margin-left:-65px;
        }
    }



    /*Contact-page*/

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .contact-area {
          padding-top: 90px;
          padding-bottom: 100px;
         }
        }
      @media (max-width: 768px) {
        .contact-area {
          padding-top: 70px;
          padding-bottom: 80px;
         }
        }
      
      .contact-box {
        background-color: #fff !important;
        border: 1px solid #ddd;
        padding: 30px 35px;
        transition: all 0.3s ease-out 0s;
     }
        @media only screen and (min-width: 992px) and (max-width: 1023px) {
          .contact-box {
            padding: 30px 25px; 
        } 
    }
        @media (max-width: 768px) {
          .contact-box {
            padding: 30px 25px;
         }
    }


        .contact-box .contact-icon i {
        font-size: 48px;
        color: #4e54c8; 
    }
        .contact-box .contact-content {
        margin-top: 15px;
     }
    .contact-box .contact-content .contact-title {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 15px;
    }

    
    .contact-box:hover {
        box-shadow: 0px 0px 21px 0px rgba(152, 152, 152, 0.23); 
        }

        /*Contact-form*/
        form input[type="text"]{
            border-radius: 15px;
           
        }
        textarea{
            border-radius: 25px!important;
            padding:20px !important;
           
        }

        @media (max-width: 768px){
            
            form input[type="text"]{
                width:140%;
                margin-left:-55px;
            }
            form label{
                margin-left:-50px;
            }
            form textarea{
                width:145%!important;
                margin-left:-55px;
            }
            form .main-btn{
                width:145% !important;
                margin-left:-55px;
            }
        }

        /*social-icons*/
        

.header-social .header-social-icon{
    margin-top: 40px;
    /* margin-left: 250px; */
    padding:30px;
    position: relative;
    display:inline-block;
    font-size: 25px;
    
   
}
.header-social-icon i{
    border:1px solid #ccc;
    border-radius: 50%;
    padding:10px;
    
    color:#f1f1f1;
    background-color: #4e54c8;
}
.header-social-icon i:hover{
    background-color: #f1f1f1;
    color: #4e54c8;
}

/*project-section*/
.project-heading{
    background-color: #4e54c8;
    padding-top:15px;
    color:#f1f1f1;
}
.project-heading:hover{
    color:#4e54c8;
    background-color: #f1f1f1;
    

}

.footer a{
    display:inline;
    font-size: 20px;
    font-weight: 400;
    color:#f1f1f1;
    
    padding-top:50px !important;
}
@media (max-width:768px){
    #footer{
        width:115%;
    }
    .footer a{
        padding:5px;
    }
    .footer-text{
        margin-left:86px !important;
    }
    #copyright{
        margin-left:75px !important;
        margin-top:5px !important;
    }
}